 .container{
display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
    margin: 0 auto;
    max-width: 1500px;
    

 }
 
 .header{
   display: flex;
justify-content: space-between;
   width: 100%;
   padding: 1rem;
   

    
}

.items{
    display: flex;
    gap: 1rem;
    font-weight: 600;
    padding-top: 2rem ;
   
    
}
.language{
    padding-left: 2rem;
    border-left:2px solid black ;
}
.item{
    cursor: pointer;
}
.burger {
    display: none;

}
.show{
display: none;
}
.showNav{
    display: flex;
        gap: 1rem;
        font-weight: 600;
        padding-top: 2rem;
}


@media only screen and (max-width: 900px) {
    .header {
            display: flex;
           
            justify-content: space-between;
            padding: .5rem;
            background-color: hsla(34, 47%, 93%, 1);
        }
        .menu{
           display: flex;
           justify-content: center;
           align-items: center;
        }
                .burger[data-display="inactive"] {
                    display: flex;
     
                    
                }
                
               .show[data-open="active"]{
                
                display: flex;
               }
              .show[data-open="none"] {
               display: none;
               }
       
                .items {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    font-weight: 600;
                    padding-top: 2rem;
                    top: 4rem;
                    left: 0;
                    
                    position: absolute;
                    background-color: white;
                    width: 100%;
                    transform: translateY(-370px);

        
                }
                .showNav{
                    display: flex;
                        flex-direction: column;
                        gap: 1rem;
                        font-weight: 600;
                        padding-top: 2rem;
                        top: 4rem;
                        left: 0;
                        position: absolute;
                        background-color: white;
                        width: 100%;
                    transform: translateY(0px);
                    z-index: 9999999;
                    box-shadow: 0 5px 5px 0 black;
                }
}