#owner,
#builder {
    width: 20px;
    margin-right:  1rem ;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    
    
}
.flexcol{
    display: flex;
    flex-direction: column;
}
.startingform__container{
background-color: white;
color: black;

border-radius: 20px;
height: 390px;

overflow-x: hidden;
overflow-y: scroll;
position: absolute;
box-shadow: 0 0 5px 0 gray;


}
.startingform__container::-webkit-scrollbar{
    display: none;
}
.form__head{
    background-color:hsla(30, 57%, 97%, 1);
    border-radius: 30px;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
  
    
}
.form__content{
   
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 4rem;
    padding-right: 14rem;
    
    
}
.form__content label {
font-weight: 500;
}
.form__content input{
    width: 100%;
    height: 30px;
    margin: 5px 0;
    padding: 1rem;
    cursor: pointer;
}
select{
    width: 100%;
    height: 30px;
}
.form__footer {
    
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: sticky;
    bottom: 0;
    padding: 1rem 2rem;
    background-color: hsla(30, 57%, 97%, 1);
}
.nextForm{
    background-color: #122B49;
    padding: .5rem 1rem;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}
button{
padding: 5px 2rem;
background: linear-gradient(0deg, #122B49, #122B49),
        linear-gradient(0deg, rgba(79, 79, 79, 0.2), rgba(79, 79, 79, 0.2));
        border: none;
        border-radius: 5px;
        color: white;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.sqFt{
    
    display: flex;
text-align: right;
}
input::placeholder{
    padding: 0 1rem;
}


@media only screen and (max-width: 900px){
    .form__head {
            background-color: hsla(30, 57%, 97%, 1);
            border-radius: 10px;
            padding: .8rem ;
            position: sticky;
            top: 0;
           
    
        }
    .startingform__container {
        
        margin: 4rem 0;
       
        
            background-color: white;
            color: black;
         
    
            border-radius: 10px;
            height: 300px;
            overflow-x: hidden;
            overflow-y: scroll;
            padding: 0rem;
            
            
    
    
    
        }
                .form__content {
        
                    display: flex;
                        flex-direction: column;
                        gap: 1rem;
                        padding: 1rem;
                       width: 300px;
                       padding-right: 2rem;
                      
        
        
                }
                 
                .form__footer {
                
                                    display: flex;
                                    justify-content: space-between;
                                    width: 100%;
                                    position: sticky;
                                    bottom: 0;
                                    padding: .5rem ;
                                    background-color: hsla(30, 57%, 97%, 1);
                                }
                                                                .form__content input {
                                                                    width: 100%;
                                                                    height: 30px;
                                                                    margin: 5px 0;
                                                                    padding: .5rem;
                                                                    cursor: pointer;
                                                                }

                        
                                          input[type=radio]{
                                            width: 20px;
                                          }
                                           input[type=checkbox]{
                                            width: 20px;
                                          }

                        .flex {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            gap: .5rem;
                            flex-wrap: wrap;
            
            
                        }

}

@media only screen and (max-width: 600px) {
    .form__head {
        background-color: hsla(30, 57%, 97%, 1);
        border-radius: 10px;
        padding: 1rem;
        position: sticky;
        top: 0;


    }

    .startingform__container {

        margin: 4rem 0;


        background-color: white;
        color: black;
        left: 50%;
        transform: translate(-50%);

        border-radius: 10px;
        height: 300px;
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 0rem;
        width: 350px;





    }

    .form__content {

        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        width: 300px;
        padding-right: 2rem;



    }

    .form__footer {

        display: flex;
        justify-content: space-between;
        width: 100%;
        position: sticky;
        bottom: 0;
        padding: .5rem;
        background-color: hsla(30, 57%, 97%, 1);
    }

    .form__content input {
        width: 100%;
        height: 30px;
        margin: 5px 0;
        padding: .5rem;
        cursor: pointer;
    }


    input[type=radio] {
        width: 20px;
    }

    input[type=checkbox] {
        width: 20px;
    }

    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: .5rem;
        flex-wrap: wrap;


    }

}